$fuente-principal: 'Overpass', sans-serif;
$fuente-logo: 'Roboto';
//$color-principal:#030303; 
$color-principal:#0C0D0D;
$color-secundario: #FB3A66;
$color-tres: white;
$color-cuatro: rgb(163, 163, 163);
$color-cinco:#262626;
$btn-color-1:  #FB3A66;
$btn-color-2: white;