$fuente-principal: 'Overpass', sans-serif;
$fuente-logo: 'Roboto';
// $fuente-logo: 'Spicy Rice', cursive;
//$color-principal: #170459;
$color-principal: black;
$color-secundario: #FB3A66;
$color-tres: white;
$color-cuatro: grey;
$btn-color-1:  #FB3A66;
$btn-color-2: white;

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: $color-principal;
    font-family: $fuente-principal;
    font-weight: 300;
}

/* Estilos para botones. Especificar luego en cada uno el width y margin*/
.btn {
    height: 45px;
    border: 3px solid $color-tres;
    font-weight: 800;
    color: $color-tres;
    background-color: transparent; 
    font-size: 16px;
}

.btn-2 {
    height: 45px;
    border: 3px solid $color-principal;
    font-weight: 800;
    color: $color-principal;
    background-color: transparent; 
    font-size: 16px;
}

.btn-2:hover, .btn:hover {
    background-color: $btn-color-1;
    color: $color-tres;
    cursor: pointer;
    transform: scale(1.15);
}

ul {
    display: flex;

    li {
        list-style: none;
    }
}

.cabecera {
    background-color:rgba($color: $color-principal, $alpha: 0.5);
    display: flex;
    justify-content: space-between;
    height: 100px;

    .logo {

        align-self: center;
        padding: 0px 0px 0px 10px;

        h1 {
            color: white;
            font-family: $fuente-logo;
            letter-spacing: 2px;
            font-weight: 400;
            font-size: 70px;
        }
    }

    #menu {
        display: flex;
        align-items: center;

        li {
            text-align: center;
            width: 90px;

            a { 
                border: 2px solid $color-principal;
                text-decoration: none;
                color: $color-tres;
                padding: 10px;
                display: block;
                text-align: center;
            }

            a:hover {
                font-weight: bold;
                border: 2px solid $color-tres;
                background-color:$color-secundario;
            }
        }
    }
}

/*Página activa */
#home   #menu ul li:nth-child(1) a,
#news   #menu ul li:nth-child(2) a,
#bio    #menu ul li:nth-child(3) a,
#tour   #menu ul li:nth-child(4) a,
#music  #menu ul li:nth-child(5) a,
#photos #menu ul li:nth-child(6) a,
#videos #menu ul li:nth-child(7) a,
#store  #menu ul li:nth-child(8) a,
#club   #menu ul li:nth-child(9) a {
    font-weight: bold;
    border: 2px solid $color-tres;
    background-color: $color-secundario;
}

.portada {
    display: flex;

    img{
        width: 100%;
        height: 100vh;
    }
}

.news {
    background-color: $color-tres;
    display: flex;
    flex-direction: column;
    align-items: center;

    #news-franja {
        background-color: $color-secundario;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
   

        .big-heading {
            font-weight: bold;
            font-size: 32px; 
            z-index: 2;
            background-color: $color-secundario;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
        }

        .text-update {
            font-size: 24px;
            width: 42%;

            p {
                transform: translateX(100%);
                animation: moving 10s linear infinite;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        h2 {
            text-align: center;
            font-family: $fuente-principal;
            letter-spacing: 2px;
            font-weight: 400;
            font-size: 30px;
            color: $color-tres;
        }
    } // #news-franja

    .news-sections {
        display: flex;

        .box-news {
            display: flex;
            width: 33%;
            height: 300px;
            margin: 20px;
            border: solid 2px $color-principal;
            box-sizing: border-box;
    
            .caja-img {
                width: 65%;
                display: flex;
                justify-content: center;
            }
    
            img{
                width: 100%;
                padding: 10px;   
                box-sizing: border-box;
            }
    
            img:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
    
            #nota {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color:$color-tres;
                margin: 10px;
                width: 35%;
                box-sizing: border-box;
            }
            
            h3  {
               width: 100%;
            }
            
            .bg-news {
                background-color: $color-principal;
                height: 100%;
    
                p  {
                    padding: 10px;
                    font-weight: bold;
                    font-size: 14px;
                    color: $color-tres;
                }
    
                .box-btn {
                    width: 100%;
                    position: relative;
                    left: 10px;
                    
                    button {
                        @extend .btn;
                        width: 150px;
                        margin: 10px
                    }
                }
            }
        } // .box-news
    } // .news-sections
} //.news


@keyframes moving {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

footer {
    background-color:$color-principal;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;

    p {
        padding: 10px;
    }

    .redes-container ul {
        display: flex;
        align-self: center;

        li{
            margin: 5px 10px;

            .facebook:hover {
                color:#3b5998;
            }
            
            .instagram:hover {
                color:#e95950;
            }
            
            .spotify:hover {
                color:#81b71a;
            }
            
            .youtube:hover {
                color:#bb0000;
            }

            a {
                color: rgb(194, 179, 179);
                list-style: none;
                font-size: 24px;

                :hover {
                    border-bottom: 2px solid white;
                }
            }
        }
    }
}


/* Bio */

#bio-bg {

    background-color:$color-principal;

    .parallax, .texto {
        margin: 0 auto;
    }
    
    .parallax {
        background-attachment: fixed;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 35rem; 
        max-width: 100%;
        position: relative;

        .texto-interior{
            color: white;
            font-size: 2rem;
            font-weight: bold;
            left: 35%;
            position: absolute;
            text-align: center;
            top: 40%;
            width: 25%;
            text-shadow: 3px 3px 2px rgb(0, 0, 0);
            border-bottom: 5px solid $color-secundario;
        }
    }
    
    .texto {
        padding:4%;
        width: 70%;
        display: flex;
        flex-direction: column;
        color: white;

        h2 {
            color: $color-secundario;
        }
        
        .bio-caja-texto {
            margin: 10px;
        }

        .line {
            border-bottom: 1.5px solid $color-secundario;
            width: 20%;
            margin: 5px auto;
        }
    }

    /*
    .img-uno{background-image: url("../img/alex-kellerman-bio.jpg")   }
    */
    .img-uno {
        background-image:url("../img/member-1.jpg");
    }
    
    .img-dos{background-image:url("../img/member-2.jpg")}
    
    .img-tres{background-image:url("../img/member-3.jpg")}
    
    .img-cuatro{
        background-image:url("../img/member-4.jpg");
    }
}


/* Tour */ 
.tour-bg {
    text-align: center;
    font-family: $fuente-logo;
    height: 800px;
    background-image: url("../img/tour-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;

    .tour-titles {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        
        h1 {
            font-size: 150px;
        }
                
        h2 {
            font-size: 120px;  
        }

        img {
            width: 400px;
        }

        div {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.dates-title h3 {
    color: $color-tres;
    margin: 10px 0px 0px 0px;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
} 

#tour-dates {
    display: flex;
    flex-direction: column;

    .fila {
        display: flex;

        .dates-box {
            display: flex;
            width: 50%;
            margin-left: 400px;
            border-bottom: 1px solid $color-secundario;

            .date {
                border: 3px solid $color-tres;
                border-radius: 50px;
                width: 80px;
                height: 80px;
                color: white;
                font-size: 22px;
                font-weight: 800;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                margin: 20px;
            }
            
            .place {
                font-weight: 800;
                margin: 0px 0px 5px 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .place1 {
                    color: $color-cuatro;
                    font-size: 30px;
                }
                
                .place2 {
                    color: $color-tres;
                    font-size: 22px;
                }
                
            }
        }

        .caja-botones {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 50%;
            border-bottom: 1px solid $color-secundario;
            margin-right: 400px;

            .botones {
                @extend .btn; 
                width: 110px;
                margin: 5px;
            }
        }
    } // .fila

    .caja-boton {
        display: flex;
        justify-content: center;
        background-color: $color-tres;

        #boton-bot {
            @extend .btn-2;
            width: 300px;
            margin: 30px;
        }
    }

} // #tour-dates 

/* Photos */

.galeria-container {
    /*Si pongo 100vh me sale scroll. Así que resto el header y footer*/
    min-height: calc(98.9vh - 80px - 50px);

    .menu-galeria {
        padding: 10px;
        display: flex;
        justify-content: center;
        background-color:$color-secundario;

        li a{
            text-decoration: none;
            color: $color-principal;
            font-weight: bold;
            padding: 5px;          
        }

        a:hover {
            color: white;
        }
    } // .menu-galeria
} // .galeria-container


#galeria {
    background-color: $color-principal;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    div {
        max-width: 500px;
        /*Flex para sacar lo que sobresale */
        display: flex;
        margin: 10px;
    }

    img {
        width: 100%;       
    }

    img:hover {
        transform: scale(1.03);
        cursor: pointer;
    }
} // #galeria

#boton-pag {
    display: flex;
    justify-content: center;
    padding: 20px;

    .botones {
        @extend .btn;
        width: 50px;
        margin: 5px;
    }
}

/* Videos */

.row {
    margin: 10px;
}

/* Club */

.club-logo img {
    width: 300px;
}

.club h2 {
    color:grey;
    margin: 10px;
}

.formulario {
    background-color: rgb(212, 212, 212);
    padding: 5px;

    div {
        margin: 5px;

        label {
            font-weight: 400;
            margin: 5px;
        }
        
        input {
            margin: 5px;
            padding: 5px;
        }

        select {
            margin: 5px;
            padding: 5px;

            label {
                margin: 100px;
            }
        }
    } //div
} // .formulario

/* Páginas en construcción*/ 

.technical-difficulties img {
    width: 100%;
    background-size: cover;
}

