/*
<style>
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;600&family=Overpass:wght@400;700;900&family=Passion+One:wght@400;700&display=swap');
</style>

font-family: 'Archivo Narrow', sans-serif;
font-family: 'Overpass', sans-serif;
font-family: 'Passion One', cursive;

*/

$fuente-principal: 'Overpass', sans-serif;
$fuente-logo: 'Roboto';
//$color-principal:#030303; 
$color-principal:#0C0D0D;
$color-secundario: #FB3A66;
$color-tres: white;
$color-cuatro: rgb(163, 163, 163);
$color-cinco:#262626;
$btn-color-1:  #FB3A66;
$btn-color-2: white;

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: $fuente-principal;
    font-weight: 300;
}

.contenedor {
    width: 100%;
    max-width: 2000px;

    a {
        text-decoration: none;
    }
}

/* Estilos para botones. Especificar luego en cada uno el width y margin*/
.btn {
    height: 45px;
    border: 3px solid $color-tres;
    font-weight: 800;
    color: $color-tres;
    background-color: transparent; 
    font-size: 16px;
    font-family: $fuente-principal;
}

.btn-2 {
    height: 45px;
    border: 3px solid $color-principal;
    font-weight: 800;
    color: $color-principal;
    background-color: transparent; 
    font-size: 16px;
}

.btn-2:hover, .btn:hover {
    background-color: $btn-color-1;
    color: $color-tres;
    cursor: pointer;
    transform: scale(1.15);
    transition: transform 0.5s;
}

ul {
    display: flex;
   // background-color: $color-principal;

    li {
        list-style: none;
    }
}


.cabecera {
   // background-color:rgba($color: $color-principal, $alpha: 0.5);
    background-color: $color-principal;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    //background-image: url("https://image.freepik.com/foto-gratis/humos-humo-azul-sobre-fondo-negro_23-2148092409.jpg");
    //background-repeat: no-repeat;

    .logo {

        align-self: center;
        padding: 0px 0px 0px 10px;
        width: 40%;

        img {
            width: 500px;
        }
/*
        h1 {
            color: white;
            font-family: $fuente-logo;
            letter-spacing: 2px;
            font-weight: 400;
            font-size: 70px;
        }
*/
    }

    #menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 60%;
        position: relative;

        ul {
            
            position: absolute;

            li {
                text-align: center;
                width: 100px;
    
                a { 
                 //   border: 2px solid $color-principal;
                    text-decoration: none;
                    color: $color-tres;
                    padding: 10px;
                    display: block;
                    text-align: center;
                }
    
                a:hover {
                    font-weight: bold;
                    border: 2px solid $color-tres;
                    background-color:$color-secundario;
                }
                
            } // li

            /* Submenu**/            

            .desplegable {

                z-index: 100;

                i {
                    color: $color-secundario;
                }
                
                #submenu {
                    display: none;
                    background-color: $color-principal;
                   
                }
            }

            .desplegable:hover {
                #submenu {
                    display: flex !important;
                    flex-direction: column;
                }
            }
        } // ul
    } // #menu
} // cabecera

/* Página Activa */


#home   #menu > ul > li:nth-child(1) > a,
#bio    #menu > ul > li:nth-child(2) > a,
#tour   #menu > ul > li:nth-child(3) > a,
#music  #menu ul li:nth-child(4) #submenu li:nth-child(1) a,
#photos #menu ul li:nth-child(4) #submenu li:nth-child(2) a,
#videos #menu ul li:nth-child(4) #submenu li:nth-child(3) a,
#store  #menu > ul > li:nth-child(5) > a,
#club   #menu > ul > li:nth-child(6) > a {
    font-weight: bold;
    border: 2px solid $color-tres;
    background-color: $color-secundario;
}

.portada {
    display: flex;

    img{
        width: 100%;
        height: auto;
    }
}

.news {
    background-color: $color-tres;
    display: flex;
    flex-direction: column;
    align-items: center;

    #news-franja {
        background-color: $color-secundario;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
   

        .big-heading {
            font-weight: bold;
            font-size: 32px; 
            z-index: 2;
            background-color: $color-secundario;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            position: absolute;
        }

        .text-update {
            font-size: 24px;
            width: 42%;

            p {
                transform: translateX(100%);
                animation: moving 10s linear infinite;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }

        h2 {
            text-align: center;
            font-family: $fuente-principal;
            letter-spacing: 2px;
            font-weight: 400;
            font-size: 30px;
            color: $color-tres;
        }
    } // #news-franja

    .news-sections {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .box-news {
            display: flex;
            max-width: 600px;
            flex-wrap: wrap;
            margin: 10px;
            border: solid 2px $color-principal;
            box-sizing: border-box;
    
            .caja-img {
                width: 100%;
                height: auto;
                min-height: 400px;
                display: flex;
                justify-content: center;
            }
    
            img{
                width: 100%;
                padding: 10px;   
                box-sizing: border-box;
            }
    
            img:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: transform 0.5s;
            }
    
            .nota {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color:$color-tres;
                margin: 0 10px 10px 10px;
                width: 100%;
                box-sizing: border-box;
            }
            
            h3  {
               width: 100%;
               text-align: center;
               font-size: 24px;
            }
            
            .bg-news {
                background-color: $color-principal;
                height: 100%;
    
                p  {
                    padding: 10px;
                    font-weight: bold;
                    font-size: 14px;
                    color: $color-tres;
                }
    
                .box-btn {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                  //  position: relative;
                 //   left: 10px;
                    
                    button {
                        @extend .btn;
                        width: 150px;
                        margin: 0px 0px 10px 10px;
                    }
                }
            }
        } // .box-news
    } // .news-sections
} //.news


@keyframes moving {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

footer {
    background-color:$color-principal;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;

    p {
        padding: 10px;
    }

    .redes-container ul {
        display: flex;
        align-self: center;

        li{
            margin: 5px 10px;

            .facebook:hover {
                color:#3b5998;
            }
            
            .instagram:hover {
                color:#e95950;
            }
            
            .spotify:hover {
                color:#81b71a;
            }
            
            .youtube:hover {
                color:#bb0000;
            }

            a {
                color: rgb(194, 179, 179);
                list-style: none;
                font-size: 24px;

                :hover {
                    border-bottom: 2px solid white;
                }
            }
        }
    }
}


/* Bio */

#bio-bg {

    background-color:$color-principal;

    .parallax, .texto {
        margin: 0 auto;
    }
    
    .parallax {
        background-attachment: fixed;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 35rem; 
        max-width: 100%;
        position: relative;

        .texto-interior{
            color: white;
            font-size: 2rem;
            font-weight: bold;
            left: 35%;
            position: absolute;
            text-align: center;
            top: 40%;
            width: 25%;
            text-shadow: 3px 3px 2px rgb(0, 0, 0);
            border-bottom: 5px solid $color-secundario;
        }
    }
    
    .texto {
        padding:4%;
        width: 70%;
        display: flex;
        flex-direction: column;
        color: white;

        h2 {
            color: $color-secundario;
        }
        
        .bio-caja-texto {
            margin: 10px;
        }

        .line {
            border-bottom: 1.5px solid $color-secundario;
            width: 20%;
            margin: 5px auto;
        }
    }

    /*
    .img-uno{background-image: url("../img/alex-kellerman-bio.jpg")   }
    */
    .img-uno {
        background-image:url("../img/bio//member-1.jpg");
    }
    
    .img-dos{background-image:url("../img/bio//member-2.jpg")}
    
    .img-tres{background-image:url("../img/bio//member-3.jpg")}
    
    .img-cuatro{
        background-image:url("../img/bio//member-4.jpg");
    }
}


/* Tour */ 
#tour {
    .contenedor {
        display: grid;
        // Filas / Columnas
        grid: 2fr auto auto 1fr / repeat(12,1fr);
    //   grid-template-columns: repeat(12,1fr);
    //   grid-template-rows: 1fr auto 1fr;
        background-color: $color-principal;

        .cabecera {
            grid-column: 1/13;

            .logo {
                // Inicio Row/ Inicio Column / Fin Row / Fin column
                grid-area: 1 / 1 / 2 / 5;
            //    grid-column: 1/5;
            //    grid-row: 1/2;
            
            }

            #menu {
                grid-column: 8/13;
            }
            
        } // .cabecera

        .tour-bg {
            grid-area: 2 / 1 / 3 / 13;
            text-align: center;
            font-family: $fuente-logo;
            height: 800px;
            background-image: url("../img/tour/tour-bg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: flex-end;
            position: relative;
            opacity: 0.5;
        
            .tour-titles {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                z-index: 50;
                
                img {
                    width: 100%;
                }

                .caja-logo {
                    width: 80%;
                    display: flex;
                    align-items: flex-end;
                }

                .caja-tour {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin-top: 50px;

                    .glitch {
                        width: 80%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        height: auto;
                    }

                    .world-tour {
                        width: 80%;
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        height: auto;

                        img {
                            width: 50%;
                        }
                        
                        
                    }
                }

        
                div {
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .tour-bg:before {
            content:"";
            width: 100%;
            height: 100%;
            background-color: rgba(53, 51, 51, 0.6);
            position: absolute;
        }

        .dates-table {

            grid-area: 3 / 1 / 4 / 13;

            .dates-title h3 {
                color: $color-tres;
                margin: 10px 0px 0px 0px;
                text-align: center;
                font-size: 30px;
                font-weight: 800;
            } 
            
            #tour-dates {
                
                display: flex;
                flex-direction: column;
            
                .fila {
                    display: flex;
            
                    .dates-box {
                        display: flex;
                        width: 50%;
                        margin-left: 400px;
                        border-bottom: 1px solid $color-secundario;
            
                        .date {
                            border: 3px solid $color-tres;
                            border-radius: 50px;
                            width: 80px;
                            height: 80px;
                            color: white;
                            font-size: 22px;
                            font-weight: 800;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            margin: 20px;
                        }
                        
                        .place {
                            font-weight: 800;
                            margin: 0px 0px 5px 5px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
            
                            .place1 {
                                color: $color-cuatro;
                                font-size: 30px;
                            }
                            
                            .place2 {
                                color: $color-tres;
                                font-size: 22px;
                            }
                            
                        }
                    }
            
                    .caja-botones {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        width: 50%;
                        border-bottom: 1px solid $color-secundario;
                        margin-right: 400px;
            
                        .botones {
                            @extend .btn; 
                            width: 110px;
                            margin: 5px;
                        }
                    }
                } // .fila
            
                .caja-boton {
                    display: flex;
                    justify-content: center;
            
                    #boton-bot {
                        @extend .btn;
                        width: 300px;
                        margin: 30px;
                    }
                }
            
            } // #tour-dates 
        } // .dates-table

        footer {
            grid-area: 4 / 1 / 5 / 13;
            background-color: $color-cinco;
        }

    } // .contenedor Tour
} // #Tour

/* Music */

#music {
    .contenedor {
            display: grid;
            // Filas / Columnas
            grid: 2fr auto 1fr / repeat(12,1fr);
         //   grid-template-columns: repeat(12,1fr);
         //   grid-template-rows: 1fr auto 1fr;
            background-color: $color-cinco;
        
        .cabecera {
            grid-column: 1/13;

            .logo {
                // Inicio Row/ Inicio Column / Fin Row / Fin column
                grid-area: 1 / 1 / 2 / 5;
            //    grid-column: 1/5;
            //    grid-row: 1/2;
            }

            #menu {
                grid-column: 8/13;
            }
        }

        .play {

            display: grid;
            grid: 1fr auto auto 1fr / repeat(12,1fr);
            grid-area: 2 / 3 / 3 / 11;

            .disco {
                grid-area: 2 / 1 / 3 / 7;
                display: flex;
                flex-direction: column;

                h2 {
                    color: $color-tres;
                    font-size: 40px;
                    padding: 10px 0 10px 0;
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .tracklist {

                grid-area: 2 / 7 / 3 / 13;
                display: flex;
                flex-direction: column;
                padding: 10px 0 10px 10px;

                h3 {
                    color: $color-tres;
                    font-size: 30px;
                    padding: 10px 0 10px 20px;
                }

                .track-order {

                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    padding: 10px 0 10px 20px;
                    border-bottom: dotted $color-cuatro;
                    
                    p {
                        color: $color-tres;
                        font-size: 20px;
                    }

                    .order {
                        width: 5%;
                    }

                    .track-title {
                       width: 55%;
                    }

                    .track-time {
                        width: 10%;
                    }   

                    .play-button {
                        width: 30%;
                    }

                    a {
                        color: $color-tres;
                        text-decoration: none;
                    }

                    a:hover {
                        color: $color-secundario;
                    }
                }

                
            }

            .more-album {
               
                grid-area: 3 / 1 / 4 / 13;
                display: grid;
                grid: 1fr 1fr/ 1fr 1fr;

                h3 {
                    color: $color-tres;
                }


                p {
                    color: $color-tres;
                    padding: 10px 10px 10px 0;
                }

                .album-info {
                    grid-area: 1 / 1 / 2 / 2;
                    padding: 10px 0 5px 0;
                    p {
                        color: $color-cuatro;
    
                        .bold {
                            color: $color-tres;
                        }
                    }
                }

                .about-album {
                    grid-area: 2 / 1 / 3 / 2;
                    padding: 10px 10px 10px 0;
               
                    
                }

                .red-album {
                    grid-area: 1 / 2 / 3 / 3;
                    padding: 10px 10px 10px 0;

                    p {
                        font-size: 22px;
                        color: $color-tres;
                        padding: 10px 10px 10px 30px;
                        font-weight: 700;
                    }

                    a {
                        color: $color-tres;
                        padding: 10px 10px 10px 30px;
                        text-decoration: none;
                    }

                    a:hover {
                        color: $color-secundario
                    }

                    .share {
                        padding: 50px 0 0 0;
                    }
                }
            }
        } //.play

        footer {
            grid-column: 1/-1;
        }
    }
}


/* Photos */
#photos {

    .contenedor {

        display: grid;
        // Filas / Columnas
        grid: 1fr auto 1fr / repeat(12,1fr);

        .cabecera {
            grid-column: 1/13;

            .logo {
                // Inicio Row/ Inicio Column / Fin Row / Fin column
                grid-area: 1 / 1 / 2 / 5;
            }

            #menu {
                grid-column: 8/13;
            }
        } // cabecera header

        .galeria-container {
            
            grid-area: 2 / 1 / 3 / 13;
            
            display: grid;
            grid: auto 1fr 1fr / repeat(5,1fr);

            .menu-galeria {
                grid-area: 1 / 1 / 2 / 6;
            }

            .container-photos {
                grid-area: 2 / 1 / 3 / 6;
                background-color: $color-principal;

                display: grid;
                grid: repeat(5, 1fr) / repeat(5, 1fr);

                img {
                //    width: 560px;
                //    height: 315px;
                //width: 440px;
                //height: 280px;  
                
                padding: 15px;         
                }

                img:hover {
                    transform: scale(1.03);
                    transition: transform 0.5s;
                    cursor: pointer;
                }

                .row-1 {
                    grid-area: 1 / 2 / 3 / 4;
                    display: flex;
                    justify-content: space-around;

                    .big-box-img {
                        grid-area: 1 / 2 / 3 / 4;
                        
                        img {
                            height: 480px;
                        }
                    }

                    .x {
                        grid-area: 1 / 4 / 3 / 5; 
                        display: flex;
                        flex-direction: column;

                        img {
                            height: 200px;
                        }
                    }
                }

                .row-2 {
                    grid-area: 3 / 2 / 4 / 5;
                    display: flex;
                    justify-content: space-around;

                    .little-box-img {
                        img {
                            height: 200px;
                        }
                    }

                }
            }

            .boton-pag {
                grid-area: 3 / 1 / 4 / 6;
            }
        } // .galeria-container

        footer {
            grid-area: 3 / 1 / 4 / 13;
        }
    } // .contenedor
} // #photos



/* 
#photos {

    .contenedor {

        display: grid;
        // Filas / Columnas
        grid: 1fr auto 1fr / repeat(12,1fr);

        .cabecera {
            grid-column: 1/13;

            .logo {
                // Inicio Row/ Inicio Column / Fin Row / Fin column
                grid-area: 1 / 1 / 2 / 5;
            }

            #menu {
                grid-column: 8/13;
            }
        } // cabecera header

        .galeria-container {
            
            grid-area: 2 / 1 / 3 / 13;
            
            display: grid;
            grid: auto auto 1fr / repeat(12,1fr);

            .menu-galeria {
                grid-area: 1 / 1 / 2 / 13;
            }

            .container-photos {
                grid-area: 2 / 1 / 3 / 13;
                background-color: $color-principal;

                display: grid;
                grid: 1fr 1fr / repeat(12, 1fr);

                img {
                //    width: 560px;
                //    height: 315px;
                width: 440px;
                height: 280px;
                padding: 15px;         
                }

                img:hover {
                    transform: scale(1.03);
                    transition: transform 0.5s;
                    cursor: pointer;
                }

                .row-1 {
                    grid-area: 1 / 1 / 2 / 13;
                    display: flex;
                    justify-content: space-around;
                }

                .row-2 {
                    grid-area: 2 / 1 / 3 / 13;
                    display: flex;
                    justify-content: space-around;
                }
            }

            .boton-pag {
                grid-area: 3 / 1 / 4 / 13;
            }
        } // .galeria-container

        footer {
            grid-area: 3 / 1 / 4 / 13;
        }
    } // .contenedor
} // #photos

*/


//GENERAL
.contenedor {

    .galeria-container {

        .menu-galeria {
            padding: 10px;
            display: flex;
            justify-content: center;
            background-color:$color-secundario;
    
            li a{
                text-decoration: none;
                color: $color-principal;
                font-weight: bold;
                padding: 5px;          
            }
    
            a:hover {
                color: $color-tres;
            }
        } // .menu-galeria
    } // .galeria-container
    
    .boton-pag {
        display: flex;
        justify-content: center;
        padding: 20px;
        background-color: $color-cinco;
    
        .botones {
            @extend .btn;
            width: 50px;
            margin: 5px;
        }
    }
}

/* Videos */

#videos {


    .contenedor {

        display: grid;
        // Filas / Columnas
        grid: 2fr 17fr 1fr / repeat(12,1fr);

        height: 100vh;

        .cabecera {
            grid-column: 1/13;

            .logo {
                // Inicio Row/ Inicio Column / Fin Row / Fin column
                grid-area: 1 / 1 / 2 / 5;
            }

            #menu {
                grid-column: 8/13;
            }
        } // cabecera header

        .galeria-container {
            
            grid-area: 2 / 1 / 3 / 13;
            
            display: grid;
            grid: 1fr 13fr 2fr / repeat(12,1fr);

            .menu-galeria {
                grid-area: 1 / 1 / 2 / 13;
            }

            .container-videos {
                grid-area: 2 / 1 / 3 / 13;
                background-color: $color-principal;

                display: grid;
                grid: auto / repeat(12, 1fr);

                iframe {
                //    width: 560px;
                //    height: 315px;
                width: 440px;
                height: 250px;
                padding: 15px;
            
                }

                .row-1 {
                    grid-area: 1 / 1 / 2 / 13;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-wrap: wrap;
                }

                .row-2 {
                    grid-area: 2 / 1 / 3 / 13;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                }
            }

            .boton-pag {
                grid-area: 3 / 1 / 4 / 13;
            }
        } // .galeria-container

        footer {
            grid-area: 3 / 1 / 4 / 13;
        }
    } // .contenedor
} // #videos

/* Club */

#club {

    .contenedor {
        display: grid;
        // Filas / Columnas
        grid: 2fr auto auto auto 1fr / repeat(12,1fr);
    //   grid-template-columns: repeat(12,1fr);
    //   grid-template-rows: 1fr auto 1fr;

        .cabecera {
            grid-column: 1/13;

            .logo {
                // Inicio Row/ Inicio Column / Fin Row / Fin column
                grid-area: 1 / 1 / 2 / 5;
            //    grid-column: 1/5;
            //    grid-row: 1/2;
            }

            #menu {
                grid-column: 8/13;
            }
        } // cabecera header

        .club-principal {
            grid-area: 2 / 1 / 3 / 13;

            .club-img {
                background-image: url(../img/club/crowd1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 600px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                display: flex;
                flex-direction: column;

                .club-enter {
                    display: flex;
                    z-index: 50;
                
                    a{
                        @extend .btn;
                        width: 150px;
                        margin: 30px 0px 10px 10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        box-sizing: border-box;
                    }
                }
            }

            .club-img:before {
                content:"";
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.6);
                position: absolute;
            }

            h2 {
                font-size: 60px;
                color: $color-tres;
                position: relative;
                padding-bottom: 15px;
            }

            h3 {
                font-size: 42px;
                color: $color-cuatro;
                position: relative;
            }
        } // .club-principal

        .benefits-club {
            grid-area: 3 / 1 / 4 / 13;
            display: grid;
            grid: repeat(3,1fr) / 1fr 2fr 1fr;

            width: 100%;
            background-color: rgba($color: $color-principal, $alpha: 0.5);
            color: $color-tres;

            .block-1 {
                grid-area: 1 / 2 / 2 / 3;
                display: flex;
                justify-content: space-around;
            }

            .block-2 {
                grid-area: 2 / 2 / 3 / 3;
                display: flex;
                justify-content: space-around;
            }

            .block-3 {
                grid-area: 3 / 2 / 4 / 3;
                display: flex;
                justify-content: space-around;
            }

            .block {
                display: flex;
                padding: 30px 0 0px 0px;
                
                .block-img {

                    padding: 0 0 10px 10px;
                    
                    img {
                        height: 100px;
                    }
                }

                .block-text {
                    display: flex;
                    flex-direction: column;
                    width: 60%;
                    padding: 0px 0 10px 20px;
                    
                    h4 {
                        font-size: 24px;
                    }

                    p {
                        font-size: 18px;
                    }
                }
            }
        }

        .formulario {
            grid-area: 4 / 1 / 5 / 13;
            display: grid;
            grid: 1fr / 1fr 2fr 1fr;
            background-color: rgba($color: $color-principal, $alpha: 0.8);

            form {      
                grid-area: 1 / 2 / 2 / 3;
                background-color: $color-principal;
                margin: 10px;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .form-container {
                    display: grid;
                    grid: repeat(12, auto) / 1fr 1fr 1fr;

                    #name {
                        grid-area: 1 / 2 / 2 / 3;
                    }

                    #surname {
                        grid-area: 2 / 2 / 3 / 3;
                    }

                    #username {
                        grid-area: 3 / 2 / 4 / 3;
                    }

                    #email {
                        grid-area: 4 / 2 / 5 / 3;
                    }

                    #confirm-email {
                        grid-area: 5 / 2 / 6 / 3;
                    }

                    #password {
                        grid-area: 6 / 2 / 7 / 3;
                    }

                    #confirm-password {
                        grid-area: 7 / 2 / 8 / 3;
                    }

                    #birth {
                        grid-area: 8 / 2 / 9 / 3;
                    }

                    #gender {
                        grid-area: 9 / 2 / 10 / 3;
                    }

                    #country {
                        grid-area: 10 / 2 / 11 / 3;
                    }

                    #zip-code {
                        grid-area: 11 / 2 / 12 / 3;
                    }

                    #sign-up {
                        grid-area: 12 / 2 / 13 / 4;
                    }

                    #join-reset {
                        grid-area: 13 / 2 / 14 / 3;
                        
                        padding: 10px 0 10px 0;

                        input {
                            background-color: $btn-color-1;;
                            color: $color-tres;
                            width: 120px;
                            height: 40px;
                            border-radius: 5px;
                            font-size: 16px;
                            font-family: $fuente-principal;
                            font-weight: bold;
                            margin-right: 20px;
                        }

                        .reset {
                            background-color: $color-cinco;
                        }
                    }
                

                    .campos {
                        padding: 10px 0 10px 0;
                        display: flex;
                        flex-direction: column;

                        label {
                            color: $color-tres;
                            
                            
                        //    margin: 15px 0 15px 0;
                        }
        
                        input {
                            background-color: $color-cuatro;
                            border-radius: 5px;
                            color: $color-tres;
                            padding: 5px;
                            font-weight: bold;
                            text-transform: uppercase;
                        }

                        select {
                            width: 150px;
                            height: 30px;
                            background-color: $color-cuatro;
                            color: $color-tres;
                            font-weight: bold;
                         //   margin: 15px 0 0px 0;
                        }

                        p {
                            color: $color-tres;
                        }

                        .sign-up {
                            display: flex;
                            width: 100%;
                            margin: 15px 0 15px 0;

                            input {
                                width: 3%;
                            }

                            p {
                                width: 97%;
                                padding-left: 15px;
                            }
                        }
                    }

                    .campo-gender {
                        width: 50%;
                        padding: 5px 0 5px 0;

                        label {
                            color: $color-tres;
                            padding: 15px 15px 0 0;
                        //padding: 15px 0 0px 0;
                        }

                        .gender {
                            display: flex;
                            color: $color-tres;
                            width: 250px;
                            
                            
                            .radio{
                                display: flex;
                                align-items: center;
                                width: 100%;
                                
                                label {
                            //      width: 50%;
                                    font-weight: 400;
                                    color: $color-tres;
                                }
                                
                                input {
                            //      width: 50%;
                                    padding: 5px;
                                }
                            }            
                        }   // .gender 
                    } // .campo-gender
                } // .form-container
            } // form
        } // .formulario

        footer {
            grid-column: 1/-1;
        }
    } // .contenedor   
} // #club




/* Páginas en construcción*/ 

.technical-difficulties img {
    width: 100%;
    background-size: cover;
}

/* Responsive Design */

/* Menu bar */

#btn-menu {
    display: none;
}

header label {
    margin: 0;
    display: none;
    padding: 0px 25px;
    color: white;
    font-size: 40px;
    transition: all 500ms ease;
}

@media only screen and (max-width: 600px ) {
    
    .contenedor {

        .cabecera {

            position: relative;
            height: 75px;

            .logo {
                width: 70%;
                h1 {
                    font-size: 40px;
                }
            }
        } // cabecera
    
    
        header {

            label {
                display: flex;
                align-items: center;
            }

            #menu {
                display: flex;
                justify-content: space-between;
                position: absolute;
                width: 50%;
                top: 75px; //Se pocisiona debajo de la cabecera que tiene 100px
                right: -300px; //Para que quede oculto
                z-index: 100;
        
                ul {
                    flex-direction: column;
                    width: 100%;
        
                    li {
                        width: 100%;
                    }
                }
            }   
            
            #btn-menu:checked ~ #menu {  
                right: 0px;
                display: flex;
                justify-content: flex-end;
                background-color: $color-secundario;
            }
        }

        .news {
            #news-franja {

                height: 40px;

                .big-heading {
                    font-size: 24px;
                }

                .text-update {
                    p {
                        font-size: 16px;
                    }
                }
            }

            .news-sections {
                
                display: flex;
                flex-direction: column;
    
                .box-news {

                    width: auto;
                    margin: 10px;
    
                    .caja-img {
                        min-height: 0px;
                    }

                    .nota {

                        align-items: center;
                
                        h3 {
                            padding-top: 0px;
                            font-size: 18px;
                        }
                    
                        .bg-news {
                    
                            p {
                                padding: 10px 10px;
                                font-size: 10px;
                            }
                    
                            .box-btn {
                    
                                button {
                                                                                
                                    p {
                                            font-size: 12px;
                                    }
                                }
                            }
                        }
                    } // .nota
                } // .box-news
            } // .news-sections
        } // .news

        footer {

            width: 100%;
        
            p {
                font-size: 10px;
            }
        
            .redes-container {
        
                ul {
        
                    li {
                        
                        margin: 5px 5px;
        
                        a {
                            font-size: 16px;
                        }
                    }
                }
            }
        } //footer
    } // .contenedor
} // media 