/*
<style>
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;600&family=Overpass:wght@400;700;900&family=Passion+One:wght@400;700&display=swap');
</style>

font-family: 'Archivo Narrow', sans-serif;
font-family: 'Overpass', sans-serif;
font-family: 'Passion One', cursive;

*/

@import 'abstracts/variables';

@import 'components/buttons';

@import 'abstracts/general';

@import 'pages/header-footer';

@import 'pages/home';

@import 'pages/bio';

@import 'pages/tour';

@import 'pages/music';

@import 'pages/photos';

@import 'pages/videos';

@import 'pages/tour';

@import 'pages/club';


