<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Music</title>
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;600;700;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
</head>

<body id="music">

     <!-- Header -->
     <header class="cabecera">
        
        <div class="logo"> 
            <h1>BLACKOUT</h1>
        </div>

         <!-- Menú -->   
        <nav id="menu">
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="news.html">NEWS</a></li>
                <li><a href="bio.html">BIO</a></li>
                <li><a href="tour.html">TOUR</a></li>
                <li><a href="music.html">MUSIC</a></li>
                <li><a href="photos.html">PHOTOS</a></li>
                <li><a href="videos.html">VIDEOS</a></li>
                <li><a href="store.html">STORE</a></li>
                <li><a href="club.html">CLUB</a></li>
            </ul>
        </nav>

    </header>
 
    <div class="technical-difficulties">
        <img src="../img/technical-difficulties-4.jpg" alt="">
    </div>

    <!-- footer -->
    <footer> 
        <p> © NAME BAND 2020</p>
        <p>Designed by me</p>
        <!-- Íconos con Link a Redes Sociales --> 
        <div class="redes-container">
            <ul>
                <li><a href="http://www.facebook.com" class="facebook"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="http://www.instagram.com" class="instagram"><i class="fab fa-instagram"></i></a></li>
                <li><a href="http://www.spotify.com" class="spotify"><i class="fab fa-spotify"></i></a></li>
                <li><a href="http://www.youtube.com" class="youtube"><i class="fab fa-youtube"></i></a></li>
            </ul>                     
        </div>
    </footer>  
    

</body>
</html> 