<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
    <link
        href="https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;600;700;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Spicy+Rice&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Blackout | The Official Website</title>
    <meta name="keywords"
        content="Blackout, blackout, rock, alternative rock, band, Member name 1, Member name 2, Member name 3, Member name 4, Most famous song name 1, Most famous song name 2, Most famous song name 3">
    <meta name="description"
        content="The Official Blackout Website with all the latest news, tour dates, media and more. Join the Fan Club to become a member and have access to special benefits">
</head>

<body id="photos">
    <!-- Header -->

    <div class="contenedor">


        <!-- Header -->
        <header class="cabecera">
            
            <div class="logo"> 
                <img src="../img/blackout-logo-white.svg" alt="">
            </div>

            <input type="checkbox" id="btn-menu" />
        <label for="btn-menu"><i class="fas fa-bars"></i></label>

        <!-- Menú -->   
            <nav id="menu">
                <ul >
                    <li><a href="../index.html">HOME</a></li>
                    <li><a href="bio.html">BIO</a></li>
                    <li><a href="tour.html">TOUR</a></li>
                    <li><a href="club.html">CLUB</a></li>
                    <li class="desplegable"><a href="#">MEDIA <i class="fas fa-sort-down"></i></a>
                        <ul id="submenu">
                            <li><a href="music.html">MUSIC</a></li>
                            <li><a href="photos.html">PHOTOS</a></li>
                            <li><a href="videos.html">VIDEOS</a></li>
                        </ul>
                    </li>
                    
                </ul>
            </nav>
        </header>


        <div class="gallery-container">
            <!--Menú de fotos-->

            <nav class="menu-galeria">
                <ul>
                    <li><a href="">ALL</a></li>
                    <li><a href="">LIVE</a></li>
                    <li><a href="">BAND</a></li>
                    <li><a href="">BEHIND THE SCENES</a></li>
                </ul>
            </nav>

            <!--Galería de fotos-->
            <main class="container-photos">
            <!--
                container>.galery-item*9>img.gallery--img[src="img/photos-section/foto-galeria$.jpg"]+h2.gallery-title{imagen $}              

            -->                   
                <div class="gallery-item">
                    <a href="#image1">
                        <img src="../img/photos-section/foto-galeria-1.jpg" alt="" class="gallery-img">

                    </a>
                    
                </div>

                <div class="gallery-item">
                    <a href="#image2">
                        <img src="../img/photos-section/foto-galeria-2.jpg" alt="" class="gallery-img">
                        
                    </a>
                    
                </div>

                <div class="gallery-item">
                    <a href="#image3">
                        <img src="../img/photos-section/foto-galeria-3.jpg" alt="" class="gallery-img">
                        
                    </a>
                    
                </div>

                <div class="gallery-item">
                    <a href="#image4">
                        
                        <img src="../img/photos-section/foto-galeria-4.jpg" alt="" class="gallery-img">
                    </a>
                    
                </div>
            
                <div class="gallery-item">
                    <a href="#image5">
                        
                        <img src="../img/photos-section/foto-galeria-5.jpg" alt="" class="gallery-img">
                    </a>
                   
                </div>

                <div class="gallery-item">
                    <a href="#image6">
                        
                        <img src="../img/photos-section/foto-galeria-6.jpg" alt="" class="gallery-img">
                    </a>
                   
                </div>

                <div class="gallery-item">
                    <a href="#image7">
                        <img src="../img/photos-section/foto-galeria-7.jpg" alt="" class="gallery-img">
                        
                    </a>
                    
                </div>
                
                <div class="gallery-item">
                    <a href="#image8">
                        <img src="../img/photos-section/foto-galeria-8.jpg" alt="" class="gallery-img">
                        
                    </a>
              
                </div>

                <div class="gallery-item">
                    <a href="#image9">
                        <img src="../img/photos-section/foto-galeria-9.jpg" alt="" class="gallery-img">
                        
                    </a>
                  
                </div>

                <div class="gallery-item">
                    <a href="#image10">
                        <img src="../img/photos-section/foto-galeria-10.jpg" alt="" class="gallery-img">
                        
                    </a>
                    
                </div>
                
                <div class="gallery-item">
                    <a href="#image11">
                        <img src="../img/photos-section/foto-galeria-11.jpg" alt="" class="gallery-img">
                        
                    </a>
                    
                </div>

                <div class="gallery-item">
                    <a href="#image12">
                        <img src="../img/photos-section/foto-galeria-12.jpg" alt="" class="gallery-img">
                        
                    </a>
                    
                </div>

                <div class="gallery-item">
                    <a href="#image13">
                        <img src="../img/photos-section/foto-galeria-13.jpg" alt="" class="gallery-img">
                        
                    </a>
                   
                </div>

                <div class="gallery-item">
                    <a href="#image14">
                        <img src="../img/photos-section/foto-galeria-14.jpg" alt="" class="gallery-img">
                    </a>
                    
                    
                </div>

                <div class="gallery-item">
                    <a href="#image15">
                        <img src="../img/photos-section/foto-galeria-15.jpg" alt="" class="gallery-img">
                    </a>
                    
                    
                </div>
            
            </main>

            <article class="lightbox" id="image1">
                <a href="#image15" class="next"><i class="fas fa-arrow-left"></i></a>
                <img src="../img/photos-section/foto-galeria-1.jpg" alt="">
                <a href="#image2" class="next"><i class="fas fa-arrow-right"></i></a>
                <a href="#" class="close"><i class="fas fa-times"></i></a>
            </article>

            <article class="lightbox" id="image2">
                <a href="#image1" class="next"><i class="fas fa-arrow-left"></i></a>
                <img src="../img/photos-section/foto-galeria-2.jpg" alt="">
                <a href="#image3" class="next"><i class="fas fa-arrow-right"></i></a>
                <a href="#" class="close"><i class="fas fa-times"></i></a>
            </article>

            <article class="lightbox" id="image3">
                <a href="#image2" class="next"><i class="fas fa-arrow-left"></i></a>
                <img src="../img/photos-section/foto-galeria-3.jpg" alt="">
                <a href="#image4" class="next"><i class="fas fa-arrow-right"></i></a>
                <a href="#" class="close"><i class="fas fa-times"></i></a>
            </article>

            <article class="lightbox" id="image4">
                <a href="#image3" class="next"><i class="fas fa-arrow-left"></i></a>
                <img src="../img/photos-section/foto-galeria-4.jpg" alt="">
                <a href="#image5" class="next"><i class="fas fa-arrow-right"></i></a>
                <a href="#" class="close"><i class="fas fa-times"></i></a>
            </article>

            <article class="lightbox" id="image5">
                <a href="#image4" class="next"><i class="fas fa-arrow-left"></i></a>
                <img src="../img/photos-section/foto-galeria-5.jpg" alt="">
                <a href="#image6" class="next"><i class="fas fa-arrow-right"></i></a>
                <a href="#" class="close"><i class="fas fa-times"></i></a>
            </article>

            <article class="lightbox" id="image6">
                <a href="#image5" class="next"><i class="fas fa-arrow-left"></i></a>
                <img src="../img/photos-section/foto-galeria-6.jpg" alt="">
                <a href="#image7" class="next"><i class="fas fa-arrow-right"></i></a>
                <a href="#" class="close"><i class="fas fa-times"></i></a>
            </article>

            <article class="lightbox" id="image7">
                <a href="#image6" class="next"><i class="fas fa-arrow-left"></i></a>
                <img src="../img/photos-section/foto-galeria-7.jpg" alt="">
                <a href="#image8" class="next"><i class="fas fa-arrow-right"></i></a>
                <a href="#" class="close"><i class="fas fa-times"></i></a>
            </article>

            <article class="lightbox" id="image8">
                <a href="#image7" class="next"><i class="fas fa-arrow-left"></i></a>
                <img src="../img/photos-section/foto-galeria-8.jpg" alt="">
                <a href="#image9" class="next"><i class="fas fa-arrow-right"></i></a>
                <a href="#" class="close"><i class="fas fa-times"></i></a>
            </article>

            <article class="lightbox" id="image9">
                <a href="#image8" class="next"><i class="fas fa-arrow-left"></i></a>
                <img src="../img/photos-section/foto-galeria-9.jpg" alt="">
                <a href="#image10" class="next"><i class="fas fa-arrow-right"></i></a>
                <a href="#" class="close"><i class="fas fa-times"></i></a>
            </article>

            <article class="lightbox" id="image10">
                <a href="#image9" class="next"><i class="fas fa-arrow-left"></i></a>
                <img src="../img/photos-section/foto-galeria-10.jpg" alt="">
                <a href="#image11" class="next"><i class="fas fa-arrow-right"></i></a>
                <a href="#" class="close"><i class="fas fa-times"></i></a>
            </article>

            <article class="lightbox" id="image11">
                <a href="#image10" class="next"><i class="fas fa-arrow-left"></i></a>
                <img src="../img/photos-section/foto-galeria-11.jpg" alt="">
                <a href="#image12" class="next"><i class="fas fa-arrow-right"></i></a>
                <a href="#" class="close"><i class="fas fa-times"></i></a>
            </article>

            <article class="lightbox" id="image12">
                <a href="#image11" class="next"><i class="fas fa-arrow-left"></i></a>
                <img src="../img/photos-section/foto-galeria-12.jpg" alt="">
                <a href="#image13" class="next"><i class="fas fa-arrow-right"></i></a>
                <a href="#" class="close"><i class="fas fa-times"></i></a>
            </article>

            <article class="lightbox" id="image13">
                <a href="#image12" class="next"><i class="fas fa-arrow-left"></i></a>
                <img src="../img/photos-section/foto-galeria-13.jpg" alt="">
                <a href="#image14" class="next"><i class="fas fa-arrow-right"></i></a>
                <a href="#" class="close"><i class="fas fa-times"></i></a>
            </article>

            <article class="lightbox" id="image14">
                <a href="#image13" class="next"><i class="fas fa-arrow-left"></i></a>
                <img src="../img/photos-section/foto-galeria-14.jpg" alt="">
                <a href="#image15" class="next"><i class="fas fa-arrow-right"></i></a>
                <a href="#" class="close"><i class="fas fa-times"></i></a>
            </article>

            <article class="lightbox" id="image15">
                <a href="#image14" class="next"><i class="fas fa-arrow-left"></i></a>
                <img src="../img/photos-section/foto-galeria-15.jpg" alt="">
                <a href="#image1" class="next"><i class="fas fa-arrow-right"></i></a>
                <a href="#" class="close"><i class="fas fa-times"></i></a>
            </article>

            <!--Botones para cambiar de páginas-->
            <div class="boton-pag">
                <button class="botones">1</button>
                <button class="botones">2</button>
                <button class="botones">3</button>
                <button class="botones">4</button>
                <button class="botones">5</button>
            </div>

        </div>


        <!-- footer -->
        <footer>
            <p> © NAME BAND 2020</p>
            <p>Designed by me</p>
            <!-- Íconos con Link a Redes Sociales -->
            <div class="redes-container">
                <ul>
                    <li><a href="http://www.facebook.com" class="facebook"><i class="fab fa-facebook-square"></i></a>
                    </li>
                    <li><a href="http://www.instagram.com" class="instagram"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="http://www.spotify.com" class="spotify"><i class="fab fa-spotify"></i></a></li>
                    <li><a href="http://www.youtube.com" class="youtube"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </footer>

    </div> <!--contenedor-->

</body>

</html>