<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;600;700;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Blackout | The Official Website</title>
    <meta name="keywords" content="Blackout, blackout, rock, alternative rock, band, Member name 1, Member name 2, Member name 3, Member name 4, Most famous song name 1, Most famous song name 2, Most famous song name 3">
    <meta name="description" content="The Official Blackout Website with all the latest news, tour dates, media and more. Join the Fan Club to become a member and have access to special benefits">
</head>

<body id="tour">

    <div class="contenedor">

     <!-- Header -->
        <header class="cabecera">
            
            <div class="logo"> 
                <img src="../img/blackout-logo-white.svg" alt="">
            </div>

        <!-- Menú -->   
            <nav id="menu">
                <ul >
                    <li><a href="../index.html">HOME</a></li>
                    <!--li><a href="views/news.html">NEWS</a></li>-->
                    <li><a href="bio.html">BIO</a></li>
                    <li><a href="tour.html">TOUR</a></li>
                    <!--li><a href="views/music.html">MUSIC</a><li>-->
                    <li class="desplegable"><a href="#">MEDIA <i class="fas fa-sort-down"></i></a>
                        <ul id="submenu">
                            <li><a href="music.html">MUSIC</a></li>
                            <li><a href="photos.html">PHOTOS</a></li>
                            <li><a href="videos.html">VIDEOS</a></li>
                        </ul>
                    </li>
                    <!--li><a href="views/videos.html">VIDEOS</a></li>-->
                    <li><a href="store.html">STORE</a></li>
                    <li><a href="club.html">CLUB</a></li>
                </ul>
            </nav>
        </header>

        <main class="tour-container">

        <!--imagen de fondo para la parte superior  CAMBIAR CLASE LUEGO-->
        <section class="tour-bg">
        <!--logo y nombre de la banda y el tour-->
            <div class="tour-titles">
                 <div class="caja-logo">
                    <img src="../img/blackout-logo-black.svg" alt="logo de la banda">
                </div>
                <div class="caja-tour">
                    <!--
                        <img src="../img/tour-black.svg" alt="">

                    -->
                    <div class="glitch">
                        <img src="../img/glitch-white.svg" alt="">
                        
                    </div>
                    <div class="world-tour">
                        <img src="../img/world-tour-black.svg" alt="">
                    </div>
                </div>
            </div>
        </section>

        <!--Tabla con fechas del tour-->

        <div class="dates-table">
   

            <section class="dates-title">
                <h3>UPCOMING 2021 DATES</h3>
            </section>
            
                <section id="tour-dates">
                    <div class="fila">
                        <div class="dates-box">
                            <p class="date">01<br>JUL</p>
                            <p class="place"> <span class="place1">CITY, COUNTRY </span><span class="place2">PLACE NAME PLACE NAME</span></p>
                        </div>
                        
                        <div class="caja-botones">
                            <div>
                                <button class="botones">INFO</button>
                                <button class="botones">TICKETS</button>
                            </div>
                        </div>
                    </div>

                    <div class="fila">
                        <div class="dates-box">
                            <p class="date">01<br>JUL</p>
                            <p class="place"> <span class="place1">CITY, COUNTRY </span><span class="place2">PLACE NAME PLACE NAME</span></p>
                        </div>
                        
                        <div class="caja-botones">
                            <div>
                                <button class="botones" >INFO</button>
                                <button class="botones">TICKETS</button>
                            </div>
                        </div>
                    </div>

                    <div class="fila">
                        <div class="dates-box">
                            <p class="date">01<br>JUL</p>
                            <p class="place"> <span class="place1">CITY, COUNTRY </span><span class="place2">PLACE NAME PLACE NAME</span></p>
                        </div>
                        
                        <div class="caja-botones">
                            <div>
                                <button class="botones" >INFO</button>
                                <button class="botones">TICKETS</button>
                            </div>
                        </div>
                    </div>

                    <div class="fila">
                        <div class="dates-box">
                            <p class="date">01<br>JUL</p>
                            <p class="place"> <span class="place1">CITY, COUNTRY </span><span class="place2">PLACE NAME PLACE NAME</span></p>
                        </div>
                        
                        <div class="caja-botones">
                            <div>
                                <button class="botones" >INFO</button>
                                <button class="botones">TICKETS</button>
                            </div>
                        </div>
                    </div>

                    <div class="fila">
                        <div class="dates-box">
                            <p class="date">01<br>JUL</p>
                            <p class="place"> <span class="place1">CITY, COUNTRY </span><span class="place2">PLACE NAME PLACE NAME</span></p>
                        </div>
                        
                        <div class="caja-botones">
                            <div>
                                <button class="botones" >INFO</button>
                                <button class="botones">TICKETS</button>
                            </div>
                        </div>
                    </div>

                    <div class="fila">
                        <div class="dates-box">
                            <p class="date">01<br>JUL</p>
                            <p class="place"> <span class="place1">CITY, COUNTRY </span><span class="place2">PLACE NAME PLACE NAME</span></p>
                        </div>
                        
                        <div class="caja-botones">
                            <div>
                                <button class="botones" >INFO</button>
                                <button class="botones">TICKETS</button>
                            </div>
                        </div>
                    </div>

                    <div class="fila">
                        <div class="dates-box">
                            <p class="date">01<br>JUL</p>
                            <p class="place"> <span class="place1">CITY, COUNTRY </span><span class="place2">PLACE NAME PLACE NAME</span></p>
                        </div>
                        
                        <div class="caja-botones">
                            <div>
                                <button class="botones" >INFO</button>
                                <button class="botones">TICKETS</button>
                            </div>
                        </div>
                    </div>

                    <section class="caja-boton">
                        <button id="boton-bot" class="botones">VIEW ALL TOUR DATES</button>
                    </section>

                </section>  
            </div> <!--dates-table-->

        </main> <!-- tour-container-->

            <!-- footer -->
            <footer> 
                <p>© NAME BAND 2020</p>
                <p>Designed by me</p>
                <!-- Íconos con Link a Redes Sociales --> 
                <div class="redes-container">
                    <ul>
                        <li><a href="http://www.facebook.com" class="facebook"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="http://www.instagram.com" class="instagram"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="http://www.spotify.com" class="spotify"><i class="fab fa-spotify"></i></a></li>
                        <li><a href="http://www.youtube.com" class="youtube"><i class="fab fa-youtube"></i></a></li>
                    </ul>                     
                </div>
            </footer>  
    </div> <!--.contenedor-->

</body>
</html> 