<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;600;700;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Videos</title>
</head>

<body id="videos">

     <!-- Header -->
     <header class="cabecera">
        
        <div class="logo"> 
            <img src="../img/blackout-logo-white.svg" alt="">
        </div>

        <!-- Menú -->   
        <nav id="menu">
            <ul>
                <li><a href="../index.html">HOME</a></li>
                <li><a href="news.html">NEWS</a></li>
                <li><a href="bio.html">BIO</a></li>
                <li><a href="tour.html">TOUR</a></li>
                <li><a href="music.html">MUSIC</a></li>
                <li><a href="photos.html">PHOTOS</a></li>
                <li><a href="videos.html">VIDEOS</a></li>
                <li><a href="store.html">STORE</a></li>
                <li><a href="club.html">CLUB</a></li>
            </ul>
        </nav>

    </header>

    <div class="galeria-container">


        <!--Menú de videos-->
    
        <nav>
            <ul class="menu-galeria">       
                <li><a href="">ALL</a></li>
                <li><a href="">OFFICIAL</a></li>
                <li><a href="">LIVE</a></li>
                <li><a href="">TOUR</a></li>
                <li><a href="">UNPLUGGED</a></li>
            </ul>
        </nav>
    
    
        <main class="container-fluid">
            <div class="row">
    
                <div class="col-lg-3 col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/qN7gSMPQFss" allowfullscreen></iframe>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/L-iepu3EtyE" allowfullscreen></iframe>  
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-rdmG0k8S8k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/xN0FFK8JSYE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                
    
            </div>
    
            <div class="row">
    
                <div class="col-lg-3 col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/CMX2lPum_pg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/Y7VGOnV2QhU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
    
                <div class="col-lg-3 col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/NGFSNE18Ywc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/uGcsIdGOuZY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
    
            </div>
    
        </main>
    
        <!--Botones para cambiar de páginas-->
        <div id="boton-pag">
            <button class="botones">1</button>
            <button class="botones">2</button>
            <button class="botones">3</button>
            <button class="botones">4</button>
            <button class="botones">5</button>
        </div>
     
        <!--<div class="technical-difficulties">
            <img src="../img/technical-difficulties-2.jpg" alt="">
        </div>
    -->
        <!-- footer -->
    </div> <!-- galeria-container-->
 
    <footer> 
        <p> © NAME BAND 2020</p>
        <p>Designed by me</p>
        <!-- Íconos con Link a Redes Sociales --> 
        <div class="redes-container">
            <ul>
                <li><a href="http://www.facebook.com" class="facebook"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="http://www.instagram.com" class="instagram"><i class="fab fa-instagram"></i></a></li>
                <li><a href="http://www.spotify.com" class="spotify"><i class="fab fa-spotify"></i></a></li>
                <li><a href="http://www.youtube.com" class="youtube"><i class="fab fa-youtube"></i></a></li>
            </ul>                     
        </div>
    </footer>  
    

</body>
</html> 