<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximun-scale=1.0, minimun-scale=1.0">
    <!--meta name="viewport" content="width=device-width, initial-scale=1"-->
    <link
        href="https://fonts.googleapis.com/css2?family=Overpass:wght@100;300;400;600;700;900&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@100;300;400;500;700;900&family=Spicy+Rice&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Blackout | The Official Website</title>
    <meta name="keywords"
        content="Blackout, blackout, rock, alternative rock, band, Member name 1, Member name 2, Member name 3, Member name 4, Most famous song name 1, Most famous song name 2, Most famous song name 3">
    <meta name="description"
        content="The Official Blackout Website with all the latest news, tour dates, media and more. Join the Fan Club to become a member and have access to special benefits">
</head>

<div id="videos">

    <div class="contenedor">

        <!-- Header -->
        <header class="cabecera">
            
            <div class="logo"> 
                <img src="../img/blackout-logo-white.svg" alt="">
            </div>

        <!-- Menú -->   
            <nav id="menu">
                <ul >
                    <li><a href="../index.html">HOME</a></li>
                    <!--li><a href="views/news.html">NEWS</a></li>-->
                    <li><a href="bio.html">BIO</a></li>
                    <li><a href="tour.html">TOUR</a></li>
                    <!--li><a href="views/music.html">MUSIC</a><li>-->
                    <li class="desplegable"><a href="#">MEDIA <i class="fas fa-sort-down"></i></a>
                        <ul id="submenu">
                            <li><a href="music.html">MUSIC</a></li>
                            <li><a href="photos.html">PHOTOS</a></li>
                            <li><a href="videos.html">VIDEOS</a></li>
                        </ul>
                    </li>
                    <!--li><a href="views/videos.html">VIDEOS</a></li>-->
                    <li><a href="store.html">STORE</a></li>
                    <li><a href="club.html">CLUB</a></li>
                </ul>
            </nav>
        </header>

        <div class="galeria-container">

            <!--Menú de videos-->
        
            <nav class="menu-galeria">
                <ul>       
                    <li><a href="">ALL</a></li>
                    <li><a href="">OFFICIAL</a></li>
                    <li><a href="">LIVE</a></li>
                    <li><a href="">TOUR</a></li>
                    <li><a href="">UNPLUGGED</a></li>
                </ul>
            </nav>
        
        
            <main class="container-videos">
                <div class="row-1">
        
                    <div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/qN7gSMPQFss" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen></iframe>
                        </div>
                    </div>
        
                    <div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/L-iepu3EtyE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen></iframe>  
                        </div>
                    </div>
        
                    <div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/-rdmG0k8S8k" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    
                    <div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/xN0FFK8JSYE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>                
        
                </div> 
        
                <div class="row-2">
        
                    <div class="col-lg-3 col-md-6">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/CMX2lPum_pg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
        
                    <div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/Y7VGOnV2QhU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
        
                    <div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/NGFSNE18Ywc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
                    
                    <div>
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.youtube.com/embed/uGcsIdGOuZY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    </div>
        
                </div> <!-- .row-2 -->
        
            </main> <!-- container-videos -->
        
            <!--Botones para cambiar de páginas-->
            <div class="boton-pag">
                <button class="botones">1</button>
                <button class="botones">2</button>
                <button class="botones">3</button>
                <button class="botones">4</button>
                <button class="botones">5</button>
            </div>
        
            <!--<div class="technical-difficulties">
                <img src="../img/technical-difficulties-2.jpg" alt="">
            </div>
        -->
            <!-- footer -->
        </div> <!-- galeria-container-->
    
        <footer> 
            <p> © NAME BAND 2020</p>
            <p>Designed by me</p>
            <!-- Íconos con Link a Redes Sociales --> 
            <div class="redes-container">
                <ul>
                    <li><a href="http://www.facebook.com" class="facebook"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="http://www.instagram.com" class="instagram"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="http://www.spotify.com" class="spotify"><i class="fab fa-spotify"></i></a></li>
                    <li><a href="http://www.youtube.com" class="youtube"><i class="fab fa-youtube"></i></a></li>
                </ul>                     
            </div>
        </footer>  
    </div> <!-- contenedor -->

</body>
</html> 